<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
<div class="table">
  <div class="table-cell">
    <div class="modal">
      <div id="profile">
        <!-- <div class="dashes"></div> -->
        <label>Click to browse or drag an image here</label>
		</div>
		<!-- <div class="editable"><i class="fa fa-pencil"></i><h1 contenteditable>Drew Vosburg</h1></div> -->
		<!-- <div class="stat"> -->
		<!-- <div class="label">Shots</div> -->
		<!-- <div class="num">40</div> -->
		<!-- </div> -->
		<!-- <div class="stat"> -->
		<!-- <div class="label">Projects</div> -->
		<!-- <div class="num">1</div> -->
		<!-- </div> -->
		<button>Image Prediction</button>
    </div>
  </div>
</div>

<input type="file" id="mediaFile" />

<!--<script language="JavaScript" type="text/javascript" src="./js/app.js"></script>-->
<!-- <link rel="stylesheet" type="text/css" href="./css/app.css"> -->
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">


</body>

</html>
